body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  min-height: 85vh; 
}

.taglist-container, .chatbox-container {
  min-width: 300px;
}

:root {
  --bg-color: #ffffff;
  --text-color: rgb(33, 33, 33);;
  --not-bg-color: rgb(33, 33, 33);;
  --search-bg-color: rgb(210, 210, 210);;
}

.dark-mode {
  --bg-color: rgb(33, 33, 33);;
  --text-color: #f1f1f1;
  --not-bg-color: #ffffff;
  --search-bg-color: #444444;
}
