.add-tag-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -150px;
}

.add-tag-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  box-shadow: none;
  border: 1px solid transparent;
}

.add-tag-content h2 {
  color: orangered;
  margin-bottom: 20px;
}

.add-tag-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-tag-content button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #fe5101;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-tag-content button:hover {
  background-color: #d64300;
}

.light-mode .add-tag-content {
  background-color: #f5f5f5;
}

.dark-mode .add-tag-content {
  background-color: rgb(33, 33, 33);
  color: white;
}
