.chatbox-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.chatbox-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 3px solid #ddd;
  background-color: var(--not-bg-color);
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;
}

.chatbox-messages {
  flex: 1;
  overflow-y: auto;
  background-color: var(--bg-color);
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.chatbox-message.user {
  background-color: invert(var(--bg-color), 0.1);
  padding: 10px 14px;
  border-radius: 18px;
  margin: 6px 0;
  max-width: 70%;
  width: fit-content;
  box-shadow: 0 2px 5px var(--not-bg-color);
  font-size: 15px;
  margin-left: auto; 
  text-align: right;
}


.chatbox-input-area {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--bg-color);
}

.chatbox-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.chatbox-button {
  margin-left: 10px;
  padding: 10px 16px;
  background-color: #FE5000;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.chatbox-button:hover {
  background-color: #0056b3;
}