.chatbox-container {
    display: flex;
    justify-content: right;
    margin-top: 0px;
    height: 100vh;
}

.chatbox-area {
    width: 75%;
    height: 100vh;
    border-left: 3px solid #000000;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
