.header { 
    background-color: var(--bg-color);  /* Use the dynamic background color */
    transition: background-color 0.5s ease, color 0.5s ease;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #fe5101;
    padding: 10px;
}

.ndwlogo {
    margin-left: 16px;
    margin-right: 16px;
}

.ndwlogo img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.headerButton, .loginButton {
    transition-duration: 0.3s;
    background-color: #fe5101;
    align-self: center;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 50px;
    padding: 1px 2px;
}

.redirectbutton {
    transition-duration: 0.3s;
    color: #fe5101;
    background-color: var(--bg-color);  /* Use dynamic background */
    border: 2px solid #fe5101;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 24px;
}

.redirectbutton:hover {
    transition-duration: 0.3s;
    background-color: #fe5101;
    color: white;
    cursor: pointer;
}
